.app.dark {
  --bg-color: #020350;
  --inverted-bg-color: #8f8f8f;


  --primary-color: #16c500;
  --secondary-color: #083403;
  --inverted-primary-color: #003bff;
  --inverted-secondary-color: #011001;
}