.app_green_theme {
  --bg-color: #2b3d23;
  --inverted-bg-color: #F6FBF4;
  --primary-color: #737313;
  --secondary-color: #F6FBF4;
  --inverted-primary-color: #11110c;
  --inverted-secondary-color: #cbd0c9;
}