.app.light {
    --bg-color: #8f8f8f;
    --inverted-bg-color: #020350;
    --primary-color: #003aff;
    --secondary-color: #011001;
    --inverted-bg-colorprimary-color: #16c500;
    --inverted-bg-colorsecondary-color: #083403;
}